.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

.card-img-top {
    max-height: 150px;
    min-height:150px;
    object-fit: cover;
    width: 100%;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.userdialogimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.userdialogmessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}